.bg {
  content: "";
  display: block;
  justify-self: end;
  align-self: center;
  height: 100%;
  width: 85%;
  background: #fff4964d;
  border: solid 1px #fff496;
  position: absolute;
  border-radius: 4px;
  max-width: 1200px;
  z-index: -1;
  padding: 12px;
}

.seta {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  align-self: center;
  background: url(../../img/icones/seta.svg);
  z-index: 1;
  opacity: 0.9;
  cursor: pointer;
}
.seta.direita {
  right: -62px;
}
.seta.esquerda {
  left: -62px;
  rotate: 180deg;
}

@media (max-width: 700px) {
  #home .bg {
    justify-self: center;
    padding: 8px 24px;
  }
  .bg {
    justify-self: center;
    padding: 0 16px;
    padding-top: 32px;
    height: 98%;
  }
}

@media (max-width: 500px) {
  .seta {
    display: none;
  }
}
