.bg {
  content: "";
  display: block;
  justify-self: end;
  align-self: center;
  height: 100%;
  width: 85%;
  background: #fff4964d;
  border: solid 1px #fff496;
  position: absolute;
  border-radius: 4px;
  max-width: 1200px;
  z-index: -1;
  padding: 12px;
}

@media (max-width: 700px) {
  #home .bg {
    justify-self: center;
    padding: 8px 24px;
  }
  .bg {
    justify-self: center;
    padding: 0 16px;
    padding-top: 32px;
    height: 98%;
  }
}

.botao {
  padding: 8px 16px;
  background: #cfbf31;
  border: solid 1px #a6992a;
  border-radius: 4px;
}
.botao:hover {
  transition: 0.2s;
  background: #bfb111;
}
@media (max-width: 600px) {
  .botao {
    padding: 6px 12px;
  }
}
