.header-bg {
  background: var(--cor-12);
  box-shadow: 0 2px 0 var(--cor-p5);
  padding: 0 60px;
}

.header {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin: 0 auto;
  padding: 12px 0;
}

.header-menu {
  display: flex;
  gap: 60px;
  align-self: center;
  color: var(--cor-1);
}
.header-menu a {
  padding: 8px 16px;
  box-sizing: border-box;
  position: relative;
}
.header-menu a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--cor-p5);
  transition-duration: 0.5s;
}
.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 30px;
  }
  .header-menu a {
    background: #7772;
    border-radius: 4px;
    transition-duration: 0.3s;
  }
  .header-menu a:hover {
    background: #bbb3;
    border-radius: 4px;
  }
  .header-menu a::after {
    content: none;
  }
}
@media (max-width: 600px) {
  .header {
    display: grid;
    justify-items: center;
    justify-content: center;
    gap: 30px;
  }
}
