.bg {
  content: "";
  display: block;
  justify-self: end;
  align-self: center;
  height: 100%;
  width: 85%;
  background: #fff4964d;
  border: solid 1px var(--cor-p10);
  position: absolute;
  border-radius: 4px;
  max-width: 1200px;
  z-index: -1;
  padding: 12px;
}

@media (max-width: 700px) {
  #home .bg {
    justify-self: center;
    padding: 8px 24px;
  }
  .bg {
    justify-self: center;
    padding: 0 16px;
    padding-top: 32px;
    height: 98%;
  }
}

.botao {
  padding: 8px 16px;
  background: var(--cor-p1);
  border: solid 1px var(--cor-p5);
  border-radius: 4px;
  transition: 0.3s;
}
.botao:hover {
  background: var(--cor-p2);
  padding-inline: 20px;
}
@media (max-width: 600px) {
  .botao {
    padding: 6px 12px;
  }
}

.mais-casas {
  max-width: 1200px;
  margin: 32px auto;
  padding-right: 20px;
  text-align: end;
}

.separar {
  background: rgba(255, 224, 61, 0.2);
  border: 1px solid rgba(207, 191, 49, 0.5);
  box-shadow: 0px 0px 4px 1px rgba(207, 191, 49, 0.2);
  padding: 60px;
  text-align: center;
  margin-bottom: 60px;
}

.paginas {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.selecionar {
  padding: 6px 12px;
  background: var(--cor-p1);
  border: solid 1px var(--cor-p5);
  border-radius: 4px;
  transition: 0.3s;
}
.selecionar:hover{
  background: var(--cor-p2);
}

.atualAtiva{
  background: var(--cor-p2);
}
