.galeria-imagens {
  display: flex;
  max-width: 100%;
  gap: 24px;
  overflow-x: auto;
}
.foto-casa img {
  max-width: 300px;
  max-height: 300px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .galeria-imagens {
    grid-column: 1/-1;
    justify-self: center;
  }
}
@media (max-width: 700px) {
  .foto-casa img {
    max-width: 200px;
    height: 200px;
  }
}
@media (max-width: 500px) {
  .galeria-imagens {
    gap: 12px;
  }
}
