.imoveis-intro {
  background: url("../../img/fotos/foto-intro-casas.webp");
  max-width: 1200px;
  height: 390px;
  margin: 0 auto 60px auto;
  display: flex;
}
.imoveis-intro-texto {
  display: flex;
  height: 390px;
  max-width: 1200px;
  margin: 0 auto;
  justify-self: center;
}
.imoveis-intro-texto h1 {
  background: #cab130b2;
  border-radius: 6px;
  padding: 12px 32px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 40px;
  max-width: 13ch;
  align-self: end;
  text-align: center;
}

@media (max-width: 1000px) {
  .imoveis-intro,
  .imoveis-intro-texto {
    height: 300px;
  }

}
@media (max-width: 800px) {
  .imoveis-intro,
  .imoveis-intro-texto {
    height: 250px;
  }
}
@media (max-width: 600px) {
  .imoveis-intro,
  .imoveis-intro-texto {
    height: 200px;
    display: grid;
  }
}
