.lista-casas {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
  position: relative;
}
.item-casa {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 32px;
}
.casa-img {
  grid-row: 1/-1;
  align-self: center;
}

.casa-conteudo {
  display: grid;
  grid-template-columns: auto auto;
  padding-right: 32px;
  gap: 32px;
}

.casa-conteudo h1 {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 32px;
}
.casa-conteudo h1 span{
  text-align: end;
}
.lista-info-casa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: flex-start;
  grid-column: 1/-1;
  gap: 12px;
}
.lista-info-casa li {
  display: flex;
  align-items: center;
  gap: 4px;
}
.lista-info-casa li p {
  margin-top: 4px;
}
.lista-casas a {
  place-self: end;
  text-align: center;
  grid-column: 1/-1;
}

@media (max-width: 800px) {
  .lista-casas {
    margin-bottom: 40px;
  }
  .casa-conteudo {
    margin-bottom: 12px;
    gap: 12px;
    margin: 32px 0 0;
  }
  .lista-info-casa {
    grid-column: 1/-1;
    justify-self: center;
    margin-bottom: 12px;
  }
  .lista-casas a {
    grid-column: 1/-1;
  }
}
@media (max-width: 700px) {
  .item-casa {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 0;
  }
  .casa-conteudo {
    justify-items: center;
    padding-right: 0;
  }
  .casa-img {
    margin: 0 32px;
  }
}
@media (max-width: 600px) {
  .lista-casas {
    margin-bottom: 32px;
  }
  .lista-casas a {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .casa-conteudo{
    margin-left: 20px;
    margin-right: 20px;
  }
}
