.lista-casas {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
  position: relative;
}
.item-casa {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 32px;
}

.casa-conteudo {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding-right: 32px;
  gap: 32px;
}

.casa-conteudo h1 {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.lista-info-casa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: flex-start;
  align-self: flex-start;
  gap: 32px;
}
.lista-info-casa li {
  display: flex;
  align-items: center;
  gap: 4px;
}
.lista-info-casa li p {
  margin-top: 4px;
}
.lista-casas a {
  place-self: end;
  text-align: center;
}

@media (max-width: 800px) {
  .lista-info-casa {
    grid-column: 1/-1;
  }
  .lista-casas a {
    grid-column: 1/-1;
  }
}
@media (max-width: 700px) {
  .item-casa {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 16px;
  }
  .casa-img {
    margin: 0 32px;
  }
  .casa-conteudo {
    padding-right: 0;
  }
}
